# numpy==1.22.4
numpy
#matplotlib==3.7.1
matplotlib
# tensorflow==2.12.0 # install manual
fastapi
starlette
uvicorn
python-multipart
opencv-python
pm3
pyjwt
pydantic # indirect
sqlalchemy
alembic
pymysql
python_dotenv
bcrypt

case-converter
